{
	"extends": ["wesbos"],
	"plugins": ["react-hooks"],
	"rules": {
		"react-hooks/rules-of-hooks": "error",
		"react-hooks/exhaustive-deps": "warn",
		"no-console": 2,
		"prettier/prettier": [
			"error",
			{
				"operator-linebreak": "before",
				"trailingComma": "es5",
				"singleQuote": true,
				"printWidth": 120,
				"tabWidth": 4,
				"semi": false
			}
		]
	}
}
